body {
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1729575846511-f499d2e17d79?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHNpbXBsZSUyMGJhY2tncm91bmQlMjBpbWFnZXMlMjBmcmVlfGVufDB8fDB8fHww");
    background-size: cover;
}

.btn {
    height: 12rem;
    width: 12rem;
    border-radius: 20%;
    margin: 1.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: rgb(255, 220, 19);
    border: 1px solid rgb(248, 235, 57);
    box-shadow: 5px 5px 5px #3f3c3c;
    border-top-left-radius: 80%;
}

.red {
    background-color: rgb(228, 18, 98);
    border: 1px solid rgb(245, 17, 105);
    box-shadow: 5px 5px 5px#3f3c3c;
    border-bottom-right-radius: 80%;
}

.green {
    background-color: #0c9444;
    border: 1px solid #0ab451;
    border-top-right-radius: 80%;
    box-shadow: 5px 5px 5px#3f3c3c;
}

.blue {
    background-color: #63aac0;
    border: 1px solid #6ac5e0;
    box-shadow: 5px 5px 5px#3f3c3c;
    border-bottom-left-radius: 80%;
}

.flash {
    background-color: rgba(255, 255, 255, 0.336);
}

.userFlash {
    background-color: transparent;
}
